* {
  overflow: hidden;
  box-sizing: border-box;
}

.px-6-- {
  padding: 0 4.5rem;
}

.main {
  background-image: url("./../assets/bgmovie.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.movie {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000 85%);
  box-shadow: 0 25px 55px rgba(0, 0, 0, 0.7);
}

.seat-area {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
}

.screen {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-top: 30px;
  z-index: 1;
  background-color: transparent;
}

.seat-box:hover .unselected {
  background-color: green;
}

button.seat-box {
  box-shadow: none;
  border: none;
  background-color: transparent;
}

.seat {
  height: 22px;
  margin-bottom: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

.seat-- {
  height: 0;
  width: 80%;
  margin: auto;
  border-radius: 3px 3px 100% 100%;
  background-color: #3f4c5a;
}

.seat-row-num {
  color: #fff;
  position: absolute;
  top: 0;
  left: 15px;
  width: 5%;
  text-align: start;
}

.selected {
  background-color: green !important;
  border-color: green !important;
}

.selected:hover {
  background-color: green !important;
  border-color: green !important;
}

.booked {
  background-color: #3f4c5a !important;
  border-color: #3f4c5a !important;
}

.booked:hover {
  background-color: #3f4c5a !important;
  border-color: #3f4c5a !important;
}

.ticket-area {
  display: flex;
  flex-flow: column nowrap;
  max-height: 75vh;
  overflow-y: auto;
  width: 100%;
}

.ticket-area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

.ticket-area::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.ticket-area::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50px;
}

.ticket {
  position: relative;
  width: 100%;
  background-color: green;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 10px 20px;
  margin-bottom: 15px;
  color: white;
}

.ticket-info {
  width: 75%;
  padding: 5px 20px 5px 0;
  text-align: start;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.ticket-action {
  width: 60px;
  border-left: 4px solid #fff;
  padding-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ticket-action button {
  padding: 5px !important;
  line-height: 15px;
}

.ticket-action button i {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.btn-submit-area {
  background-color: yellow;
  height: 7vh;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 3px;
}

.btn-submit-area:hover {
  opacity: 0.7;
}

.btn-submit-area button {
  box-shadow: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}

.main-item {
  justify-content: space-around;
}

.bg-black {
  margin-top: 15px;
  background-color: black;
  border-radius: 10px;
}
